In [4]:
import pandas as pd
import great_expectations as ge

In [2]:
df = pd.read_csv("../data/medical_aid_claims.csv")

In [5]:
df_v = ge.from_pandas(df)

In [7]:
df_v.head()

,member-name,email,gender,location,employer,relationship,patient_name,patient_suffix,patient_dob,cause,Fee Charged,membership_period,number_of_claims,number_of_dependants,label
0,Chipi,ajimmison0@sun.com,female,Kwekwe,Vipe,Grandfather,Mabhena,789,9/11/1997,Other,3798,1541,2,4,0
1,Femba,rsoonhouse1@google.it,female,Marondera,Mudo,Husband,Sithole,860,1/14/1992,Other,48905,8269,4,3,0
2,Geta,bchecchetelli2@house.gov,female,Rusape,Skaboo,Mother,Chipi,374,7/3/1999,Road Traffic Accident,39963,6223,2,2,0
3,Tichaona,mgarman3@psu.edu,female,Rusape,Babbleset,Father,Jembwa,729,7/31/1978,Road Traffic Accident,34948,8832,6,3,0
4,Chisa,ccough4@biglobe.ne.jp,female,Bulawayo,Flipopia,Father,Foto,716,12/28/1992,Accident At Work,46984,8804,1,2,1

In [8]:
df_v.expect_column_values_to_be_unique(column="member-name")

{
  "success": false,
  "result": {
    "element_count": 7000,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 7000,
    "unexpected_percent": 100.0,
    "unexpected_percent_nonmissing": 100.0,
    "partial_unexpected_list": [
      "Chipi",
      "Femba",
      "Geta",
      "Tichaona",
      "Chisa",
      "Gweta",
      "Konde",
      "Gweta",
      "Sibanda",
      "Evans",
      "Konde",
      "Tichaona",
      "Mabhena",
      "Peterson",
      "Konde",
      "Sithole",
      "Mabhena",
      "Mabhena",
      "Foto",
      "Sithole"
    ]
  },
  "exception_info": null,
  "meta": {}
}